Email Chat Assistant agent.json
{
  "name": "Email Chat Assistant agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e09e082c-0e9f-4bc2-a6c6-f1fd2d15687b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8604082-ad88-4fe9-b1ea-5dddf7edd75d",
              "name": "prompt",
              "value": "write a professional  leave request email for 2 days",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "dd45e4d7-ed99-4252-868e-4b9db6b1c243",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "da5f1423-b72d-452c-95d1-2e6f12a0a32b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        288,
        208
      ],
      "id": "85c7a2a0-d645-47e3-b7a8-eecde520436e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2LEA8Je5SqbU9hK8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6136a281-e77e-4475-9720-95cd4ee99d74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c454ae7a888043d85096de198bdbc147002e74932d6fdb199039ef2a0226e5ff"
  },
  "nodeGroups": [],
  "id": "EGS6y2GvFkGsTuDh",
  "tags": []
}